@model IEnumerable<TasksManager.Data.Entities.Documents>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time_Create_Doc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Doc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time_Create_Doc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task.Task_Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Documents_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Documents_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Documents_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
